# Learn more at https://nx.dev/ci/reference/nx-cloud-cli#npx-nxcloud-startcirun
# Uncomment this line to enable task distribution
# - run: pnpm dlx nx start-ci-run --distribute-on="3 linux-medium-js" --stop-agents-after="build"
# Prepend any command with "nx record --" to record its logs to Nx Cloud
# - run: pnpm exec nx record -- echo Hello World

name: CI

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  actions: read
  contents: read

jobs:
  main:
    runs-on: ubuntu-latest
    env:
      NX_CLOUD_ACCESS_TOKEN: ${{ secrets.NX_CLOUD_ACCESS_TOKEN }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.29.3
          run_install: false

      # Cache node_modules
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Derive appropriate SHAs
        uses: nrwl/nx-set-shas@v4
        with:
          main-branch-name: 'main'

      - name: Format
        run: pnpm exec nx affected -t format:check --parallel=3

      - name: Proto Breaking Changes
        run: pnpm exec nx affected -t breaking-proto --parallel=3

      - name: Lint
        run: pnpm exec nx affected -t lint stylelint lint-proto --parallel=3

      - name: Test
        run: pnpm exec nx affected -t test --parallel=3

      - name: Build
        run: pnpm exec nx affected -t build --parallel=3

      # Nx Cloud recommends fixes for failures to help you get CI green faster
      - name: Self-Healing CI
        run: pnpm exec nx fix-ci
        if: always()
